html, body {
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
	font-size: 72px;

}

#splash {
	height: 100%;
	background-image: url('../img/main_pc.jpg');
	background-size: cover;
	overflow: auto;
	position: relative;
}

#get_started {
	position: absolute;
	bottom: 1em;
	left: 1em;
	background: #00a2e8;
	box-shadow: none;
	border: 0;
	color: white;
	font-size: 36px;
	border-radius: 9px;
}
